<div class="card">
    <div class="container">
      <div class="row m-auto text-center align-items-center">
        <div class="col-md-6 text-start">
          <h2>Watch everywhere.</h2>
          <p>
            Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.
          </p>
        </div>
        <div class="col-md-6">
          <div class="position-relative">
            <img alt="mac,mobile,tv" src="assets/img/mac.png" class="w-100" />
            <div class="vid position-absolute">
              <video autoplay="" playsinline="" muted="" loop="" data-video="0">
                <source src="assets/video/movies2.m4v" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  