.col-md-8 .accordion {
  --bs-accordion-bg: black !important;
}
.accordion-button,
.accordion-body {
  color: white;
  background-color: #2d2d2d;
  box-shadow: none !important;
  margin-bottom: 2px;
}
.accordion-button:hover {
  background-color: #4e4e4e;
}
.accordion-button::after {
  filter: brightness(0) invert(1);
}
.accordion-item {
  border: none !important;
}
.accordion-item,
.accordion-button {
  border-radius: 0 !important;
}

@media (max-width: 549px) {
  
  a{
    font-size: 1rem !important;
  }
}