<div class="wlcard bg-black">
  <div class="container">
    <div class="mb-5">
      <a >Questions? Contact us.</a>
    </div>
    <div class="row">
      <div class="col-6 col-md-3">
        <ul>
          <li><a >FAQ </a></li>
          <li><a >Media Center</a></li>
          <li><a >Terms of Use</a></li>
          <li><a >Contact Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <ul>
          <li><a >Giftcard Terms</a></li>
          <li><a >Investor Relations</a></li>
          <li><a >Privacy</a></li>
          <li><a >Speed Test</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <ul>
          <li><a >Help Center</a></li>
          <li><a >Jobs</a></li>
          <li><a >Cookie Preferences</a></li>
          <li><a >Legal Notices</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <ul>
          <li><a >Account</a></li>
          <li><a >Ways to Watch</a></li>
          <li><a >Corporate Information</a></li>
          <li><a >Only on Netflix</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <button
        class="lang btn btn-sm border dropdown-toggle text-white me-2 mt-2"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-earth-africa me-2"></i>
        <span>English</span>
      </button>
      <ul class="dropdown-menu bg-white">
        <li>
          <a class="dropdown-item" >English</a>
        </li>
        <li>
          <a class="dropdown-item" >العربية</a>
        </li>
      </ul>
    </div>
  </div>
</div>
