<div class="nav position-absolute w-100">
  <div class="container">
    <div class="row pt-4">
      <div class="col">
        <a href="#">
          <img class="logo" src="assets/img/logo.png" alt="movix logo" />
        </a>
      </div>
      <div class="col d-flex flex-row-reverse">
        <div class="dropdown">
          <button
            class="lang btn btn-sm border dropdown-toggle text-white me-2 mt-2"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-earth-africa me-2"></i>
            <span>English</span>
          </button>
          <ul class="dropdown-menu bg-white">
            <li>
              <a class="dropdown-item" href="#">English</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">العربية</a>
            </li>
          </ul>
        </div>
        <div class="mt-2 me-2">
          <a href="#" class="btn btn-sm text-white bg-red text-center"
            >Sign In</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
