.down {
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  margin: 0 auto;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 15rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 1);
  border-radius: 0.75rem;
  z-index: 1;
  padding: 0.5rem 0.75rem;
}
.smallimg {
  margin: 0 1rem 0 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.smallimg img {
  height: 4.5rem;
}
.text {
  text-align: left;
  margin: 0.3rem 0;
}
span:first-of-type {
  font-weight: 500;
  font-size: 1rem;
}
span:last-of-type {
  font-size: 0.75rem;
  font-weight: 400;
  color: #0071eb;
}
.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #e5030c;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.spin {
  margin: auto;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
