<div class="card">
  <div class="container">
    <div class="row m-auto text-center align-items-center">
      <div class="col-md-6">
        <div class="position-relative">
          <img alt="mobile" src="assets/img/iphone.jpg" class="w-100" />
          <div class="down w-50 overflow-hidden position-absolute">
            <div class="smallimg">
              <img alt="" src="assets/img/boxshot.png" />
            </div>
            <div class="text">
              <span> Stranger Things </span>
              <span> Downloading... </span>
            </div>
            <div class="spin"><span class="loader"></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-start">
        <h2>Download your shows to watch offline.</h2>
        <p>Save your favorites easily and always have something to watch.</p>
      </div>
    </div>
  </div>
</div>
