
<div class="join-card overflow-hidden position-relative" style="background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );">
  <img
    src="assets/img/background.jpeg"
    class="w-100 position-absolute"
    alt="background"
  />
  <div
    class="w-100 text-center text-white position-absolute z-3 top-50 start-50 translate-middle"
  >
    <h1>Unlimited movies, TV shows, and more.</h1>
    <p>Plans now start at USD3.99/month.</p>
    <p>
      Ready to watch?
    </p>
    <a routerLink="/register" class="btn btn-sm text-white bg-red text-center py-2 px-3 fs-4"
            >Join Us Now</a
          >
  </div>
</div>


