.join-card {
  background: rgba(0, 0, 0, 0.4);
  height: 75vh; 
}

img {
  z-index: -9999;
  object-fit: cover;
  transform: scale(1.25) translateY(-10%);
}
p{
  font-size: 1.5rem;
  font-weight: 400;
}