<div class="card">
  <div class="container">
    <div class="row m-auto text-center align-items-center">
      <div class="col-md-6 text-start">
        <h2>Enjoy on your TV.</h2>
        <p>
          Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
          players, and more.
        </p>
      </div>
      <div class="col-md-6">
        <div class="position-relative">
          <img alt="tv" src="assets/img/tv.png" class="w-100" />
          <div class="vid position-absolute">
            <video autoplay="" playsinline="" muted="" loop="" data-video="0">
              <source src="assets/video/movies.m4v" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
