/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}
.wlcard {
  min-height: auto;
  padding: 3.5rem 0;
  background-color: transparent;
  border-top: #232323 10px solid;
}
.wlcard h2 {
  font-size: 3rem;
  font-weight: 900;
}
.wlcard p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 0;
}
.bg-red {
  background-color: #e5030c !important;
}
.red{
  color: #e5030c !important;
}
.btn:not(.lang):hover {
  background: rgb(193, 17, 25) !important;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
}
