.cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  opacity: 0.3;
  z-index: -9999;
}
.movie {
  padding-top: 8rem;
}
.hplay {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 5rem;
  transition: opacity 0.8s;
}
.hplay:hover {
  opacity: 1;
}
h6 {
  height: 6vh;
}
@media (max-width: 549px) {
  .row:not(.recommend .row) {
    justify-content: center;
  }
  .col {
    text-align: center;
  }
  .movie {
    padding-top: 10rem;
  }
  .ms-3 {
    margin-left: 0 !important;
  }
  .gap-5 {
    gap: 1rem !important;
    padding-bottom: 3rem;
  }
}
