<div class="py-5">
  <div class="wlcard mt-5">
    <div *ngIf="!done" class="row justify-content-center">
      <div class="text-center mb-5">
        <h2>Register</h2>
      </div>
      <div class="col-md-4">
        <form *ngIf="!isLoading" [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
          <div class="mb-3">
            <input
              placeholder="Name"
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
          <div class="mb-3">
            <input
              placeholder="Email"
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <input
              placeholder="Password"
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
          </div>
          <div class="mb-3">
            <input
              placeholder="Confirm Password"
              type="password"
              class="form-control"
              id="cpassword"
              formControlName="cPassword"
            />
          </div>
          <div class="mb-3">
            <div *ngIf="emailExist" class="alert alert-danger text-center">
              {{ emailExist }}
            </div>
            <div
              class="alert alert-danger text-center"
              *ngFor="let err of errList"
            >
              {{ err }}
            </div>
            <button type="submit" class="btn bg-red text-white w-100">
              Register
            </button>
          </div>
        </form>
        <app-spinner *ngIf="isLoading"></app-spinner>
      </div>
    </div>
    <div *ngIf="!isLoading&&done" class="text-center">
      <div class="alert alert-success text-center">Congratulations</div>
      <div class="alert alert-success text-center">
        Please check your inbox and verfiy your email
      </div>
    </div>
  </div>
</div>
